.container {
  width: 300px;
  padding: 16px;
  position: absolute;
  right: 0;
  border-left: 1px solid #ccc;
  background: #f8f8f8;
  font-family: sans-serif;
  user-select: none;
}

.title {
  font-size: 18px;
  margin-bottom: 12px;
}
.type {
  margin-bottom: 8px;
}
.property {
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;
}
.propertyItem {
  display: flex;
  justify-content: space-between;
  padding: 4px 0;
  border-bottom: 1px solid #ccc;
  margin-bottom: 4px;
}
.emptyText {
  color: #999;
}
